.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

button {
  background-color: #1db954;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px;
}

button:hover {
  background-color: #1ed760;
}

.playlist {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
